node_modules/
dist/
android/**
!android/app/
android/app/**
!android/app/build.gradle
!android/app/src/
android/app/src/**
!android/app/src/main/
android/app/src/main/**
!android/app/src/main/java/
android/app/src/main/java/**
!android/app/src/main/java/com/
android/app/src/main/java/com/**
!android/app/src/main/java/com/hariku/
android/app/src/main/java/com/hariku/**
!android/app/src/main/java/com/hariku/letterburning/
!android/app/src/main/java/com/hariku/letterburning/MainActivity.java
!android/app/src/main/res/
android/app/src/main/res/**
!android/app/src/main/res/values/
!android/app/src/main/res/values/strings.xml
ios/**
!ios/App/
ios/App/**
!ios/App/App/
ios/App/App/**
!ios/App/App/AppDelegate.swift
!ios/App/App/Info.plist
!ios/App/App/Base.lproj/
!ios/App/App/Base.lproj/LaunchScreen.storyboard
!ios/App/App.xcodeproj/
ios/App/App.xcodeproj/**
!ios/App/App.xcodeproj/project.pbxproj
!ios/App/CapApp-SPM/
ios/App/CapApp-SPM/**
!ios/App/CapApp-SPM/Package.swift
tmp/
*.log
.DS_Store
.idea/
.jbeval/
packages/
